//##############################################################
//	Bar Base
//##############################################################
.bar {
	position: relative;
	min-height: $bar-height;
	margin-bottom: $bar-margin-bottom;

	@include clearfix();
}

//##############################################################
//	Bar Header
//##############################################################
.bar-header {
	@include clearfix();

	@media (min-width: $bar-breakpoint) {
		float: left;
	}
}

/**
 * Bar Logo
 */
.bar-logo {
	float: left;
	padding: $bar-padding-vertical $bar-padding-horizontal;
	font-size: $font-size-lg;
	line-height: $line-height-size;

	@media (min-width: $bar-breakpoint) {
		.bar > .container & {
			margin-left: -$bar-padding-horizontal;
		}
	}
}

/**
 * Bar Toggle
 */
.bar-toggle {
	position: relative;
	float: right;
	margin-right: $bar-padding-horizontal;
	padding: 9px 10px;
	margin-top: (($bar-height - 34px) / 2);
	margin-bottom: (($bar-height - 34px) / 2);
	background-color: $bar-toggle-bg;
	background-image: none;
	border: 1px solid transparent;

	.bar-toggle-line {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: $bar-toggle-line-bg;
	}

	.bar-toggle-line + .bar-toggle-line {
		margin-top: 4px;
	}

	@media (min-width: $bar-breakpoint) {
		display: none;
	}
}


//##############################################################
//	Bar Content
//##############################################################

/**
 * Collapsable Content
 */
.bar-collapse {
	overflow-x: visible;
	padding-right: $bar-padding-horizontal;
	padding-left: $bar-padding-horizontal;

	@include clearfix();

	-webkit-overflow-scrolling: touch;

	&.in {overflow-y: auto;}

	// In large devices force the menu to be visible (so overwrite the
	// default behavior of collapse class).
	@media (min-width: $bar-breakpoint) {
		width: auto;

		&.collapse {
			display: block !important;
			height: auto !important;
			padding-bottom: 0;
			overflow: visible !important;
		}

		&.in {
			overflow-y: visible;
		}

		.bar-top-fixed {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/**
 * Content Navigation Menu Resize
 */
.bar-menu {
	margin: ($bar-padding-vertical/2) - $bar-padding-horizontal;

	> li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: $line-height-size;
	}

	@media (max-width: $bar-breakpoint-max) {

	}

	@media (min-width: $bar-breakpoint) {
		float: left;
		margin: 0;

		> li {
			float: left;

			> a {
				padding-top: $bar-padding-vertical;
        		padding-bottom: $bar-padding-vertical;
			}
		}

		&.bar-right:last-child {
			margin-right: -$bar-padding-horizontal;
		}
	}
}

@media (min-width: $bar-breakpoint) {
	.bar-menu-left  { float: left; }
	.bar-menu-right { float: right; }
}

//##############################################################
//	Bar Contained Elements
//##############################################################
.container > .bar-header,
.container > .bar-collapse {
	margin-right: -$bar-padding-horizontal;
	margin-left:  -$bar-padding-horizontal;

	@media (min-width: $bar-breakpoint) {
		margin-right: 0;
		margin-left:  0;
	}
}


//##############################################################
//	Bar Positions
//##############################################################
.bar-top-fixed,
.bar-bottom-fixed {
	position: fixed;
	right: 0;
	left: 0;
	z-index: $zindex-bar-fixed;
}

.bar-top-fixed {
	top: 0;
}

.bar-bottom-fixed {
	bottom: 0;
	margin-bottom: 0;
}



//##############################################################
//	Custom Bars
//##############################################################

/**
 * Default Bar
 */
.bar.bar-default {
	border: none;
	color: darken($color-stable, 10%);
}

.bar.bar-default .bar-right {
	margin-right: 20px;
}

.bar.bar-default .bar-menu li + li {
	margin-left: 5px;
}

.bar.bar-default .bar-menu li a:not(.button) {
	color: darken($color-stable, 10%);
}

.bar.bar-default .bar-menu li.active a:not(.button) {
	color: $color-dark;
}

.bar.bar-default .bar-menu li a:not(.button):hover {
	color: $color-dark;
	background-color: transparent;
}

@media (max-width: $bar-breakpoint-max) {

	.bar.bar-default {
		padding: 0px;
	}

	.bar.bar-default .bar-collapse {
		border-top: 1px solid $color-stable;
		border-bottom: 1px solid $color-stable;
		background-color: lighten($color-stable, 10%);
		padding: 0px;
	}

	.bar.bar-default .bar-menu {
		margin: 0px !important;
		padding: 10px;
	}

	.bar.bar-default .bar-menu:last-child {
	}

	.bar.bar-default .bar-menu li + li {
		margin: 0px;
		margin-top: 5px;
	}
}