// Colors
@include make-border-colors();

// Border
.border {
	border: 1px solid $color-stable;
}

.border-dotted {
	border-style: dotted;
}

// Border Tick
.border-top-thick {
	border-top: 4px solid $color-stable;
}

.border-right-thick {
	border-right: 4px solid $color-stable;
}

.border-bottom-thick {
	border-bottom: 4px solid $color-stable;
}

.border-left-thick {
	border-left: 4px solid $color-stable;
}