//##############################################################
//	General
//##############################################################
.box {
	border-radius: $box-border-radius;
}

.box-header {
	padding: $box-padding;
	padding-bottom: 0;
}

.box-body {
	padding: $box-padding;
}

.box-footer {
	padding: $box-padding;
}


//##############################################################
//	Box Bordered
//##############################################################
.box.box-bordered {
	border: 1px solid $color-stable;
}


//##############################################################
//	Box Panel
//##############################################################

.box.box-tbordered {
	border-top: 4px solid $color-stable;
}

.box.box-lbordered {
	border-left: 4px solid $color-stable;
}