.button {
	display: inline-block;
	font-weight: $button-font-weight;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	outline: none;

	border: 1px solid transparent;
	white-space: nowrap;

	margin: 0px;

	&:focus {outline: none;}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none;

		@include opacity(.65);
	}

	// Transition
	@include transition(all 0.3s ease-in-out);

	// Size
	@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
}


//##############################################################
//	Sizes
//##############################################################
.button-lg {
	@include button-size($padding-vertical-lg, $padding-horizontal-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.button-sm {
	@include button-size($padding-vertical-sm, $padding-horizontal-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}

.button-xsm {
	@include button-size($padding-vertical-xsm, $padding-horizontal-xsm, $font-size-sm, $line-height-sm, $border-radius-sm);
}


//##############################################################
//	Styles
//##############################################################
.button.button-light {
	@include button-flat($color-light, darken($color-stable,5%), $text-color);
}

.button.button-dark {
	@include button-flat($color-dark, darken($color-dark,5%), $color-light);
	@include button-outlined($color-dark, $color-light);

}

.button.button-positive {
	@include button-flat($color-positive, darken($color-positive,5%), $color-light);
	@include button-outlined($color-positive, $color-light);
}

.button.button-moody {
	@include button-flat($color-moody, darken($color-moody,5%), $color-light);
	@include button-outlined($color-moody, $color-light);
}

.button.button-calm {
	@include button-flat($color-calm, darken($color-calm,5%), $color-light);
	@include button-outlined($color-calm, $color-light);
}

.button.button-stable {
	@include button-flat($color-stable, darken($color-stable,5%), $text-color);
	@include button-outlined($color-stable, $text-color);
}

.button.button-success {
	@include button-flat($color-success, darken($color-success,5%), $color-light);
	@include button-outlined($color-success, $color-light);
}

.button.button-warning {
	@include button-flat($color-warning, darken($color-warning,5%), $color-light);
	@include button-outlined($color-warning, $color-light);
}

.button.button-danger {
	@include button-flat($color-danger, darken($color-danger,5%), $color-light);
	@include button-outlined($color-danger, $color-light);
}