//##############################################################
//	General
//##############################################################
.button-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	> .button {
		position: relative;
		float: left;

		&:hover,
		&:focus,
		&.active {
			z-index: 2;
		}

		&:focus {
			outline: none;
		}
	}
}

.button-group {
	.button + .button,
	.button + .button-group,
	.button-group + .button,
	.button-group + .button-group {
		margin-left: -1px;
	}
}

.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}

.button-group > .button:first-child {
	margin-left: 0;
	&:not(:last-child):not(.dropdown-toggle) {
		@include border-right-radius(0);
	}
}


//##############################################################
//	Dropdowns
//##############################################################
.button-group > .button:last-child:not(:first-child),
.button-group > .dropdown-toggle:not(:first-child) {
	@include border-left-radius(0);
}

//##############################################################
//	Nested Button Groups
//##############################################################
.button-group > .button-group {
	float: left;
}

.button-group > .button-group:not(:first-child):not(:last-child) > .button {
	border-radius: 0;
}

.button-group > .button-group:first-child {
	> .button:last-child,
	> .dropdown-toggle {
		@include border-right-radius(0);
	}
}
.button-group > .button-group:last-child > .button:first-child {
	@include border-left-radius(0);
}

// On active and open, don't show outline
.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle {
	outline: none;
}


//##############################################################
//	Button Group Size
//##############################################################
.button-group-xsm > .button { @extend .button-xsm; }
.button-group-sm > .button { @extend .button-sm; }
.button-group-lg > .button { @extend .button-lg; }