//##############################################################
//	Dropdown Style
//##############################################################
// Outter wrapper for dropdown.
.dropdown {
	position: relative;
}

// Dropdown toggle button.
.dropdown-toggle:focus {
	outline: none;
}

// Dropdown caret.
.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top:   $dropdown-caret-width solid;
	border-right: $dropdown-caret-width solid transparent;
	border-left:  $dropdown-caret-width solid transparent;
}

// Menu itens list.
.dropdown-menu {
	display: none;		// Hidden by default.

	position: absolute;
	top: 100%;
	left: 0;
	z-index: $zindex-dropdown;
	float: left;
	min-width: 150px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: $font-size-sm;
	text-align: left;
	background-color: $dropdown-bg;
	border: 1px solid $dropdown-border-color;
	border-radius: $border-radius;

	@include box-shadow(0 6px 12px rgba(0,0,0,.2));

	> li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		line-height: $line-height;
		color: $dropdown-link-color;
		white-space: nowrap;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $dropdown-link-hover-color;
			background-color: $dropdown-link-hover-bg;
		}
	}

	> li.active > a {
		&,
		&:hover,
		&:focus {
			color: $dropdown-link-active-color;
			text-decoration: none;
			outline: none;
			background-color: $dropdown-link-active-bg;
		}
	}

	> li.disabled > a {
		&,
		&:hover,
		&:focus {
			color: $dropdown-link-disabled-color;
		}

		&:hover,
		&:focus {
			text-decoration: none;
			background-color: transparent;
			background-image: none; // Remove CSS gradient
			//@include g-reset-filter();
			cursor: not-allowed;
		}
	}
}

//##############################################################
//	Dropdown Opened
//##############################################################
.open {
	> .dropdown-menu {
		display: block;
	}
}

//##############################################################
//	Dropdown Backdrop
//##############################################################
.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: ($zindex-dropdown - 10);
}