//##############################################################
//	Reset Styles
//##############################################################
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	// Chrome and Firefox set a `min-width: min-content;` on fieldsets,
	// so we reset that to ensure it behaves more like a standard block element.
	// See https://github.com/twbs/bootstrap/issues/12359.
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $line-height-size;
	font-size: ($font-size * 1.5);
	line-height: inherit;
	color: $legend-color;
	border: 0;
	border-bottom: 1px solid $legend-border-color;
}

label {
	display: inline-block;
	max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="search"] {
	@include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9; // IE8-9
	line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
	display: block;
	width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
	height: auto;
}

//##############################################################
//	General
//##############################################################
.field {
	display: block;
	width: 100%;
	font-size: $font-size;
	font-weight: $font-weight;
	color: $field-color;
	vertical-align: middle;
	background-color: $field-bg;
	background-image: none;
	border-radius: $field-border-radius;
	
	@include placeholder();
	@include transition(border-color 0.3s ease-in-out);
	@include field-focus();

	// Default Style = Bordered
	border: 1px solid $field-border-color;
	padding: $padding-vertical $padding-horizontal;
	height: $field-height;
	line-height: $line-height;

	&[disabled] {
		cursor: not-allowed;
		background-color: $field-bg-disabled;
		color: $field-color-disabled;
		opacity: 1;
	}

	// Validation
	&.ng-invalid {
		border-color: lighten($color-danger, 15%) !important;

		&:focus {
			border-color: $color-danger !important;
		}
	}

	// Sizes
	&.field-sm {
		@include field-size($field-height-sm, $padding-vertical-sm, $padding-horizontal-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
	}

	&.field-lg {
		@include field-size($field-height-lg, $padding-vertical-lg, $padding-horizontal-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
	}
}

textarea.field {
	height: auto;
}


//##############################################################
//	Field Group
//##############################################################
.field-group {
	margin-bottom: 15px;

	label {
		display: inline-block;
		color: $field-label-color;
		font-weight: $field-label-weight;
		font-size: $field-label-size;
	}
}

.field-group label + .field {
	margin-top: 0px;
}

.field-group label + .field-clean {
	margin-top: -2px;

	&.field-sm {
		margin-top: -6px;
	}

	&.field-lg {
		margin-top: -10px;
	}
}


//##############################################################
//	Input Field Styles
//##############################################################

// Clean input field
.field.field-clean {
	border: none;
	border-bottom: 2px solid $field-border-color;
	padding: 0 0 $padding-vertical-sm;
	height: auto;
	line-height: $line-height-sm;

	box-shadow: none;

	&[disabled] {
		border-bottom-style: dotted;
		background-color: transparent;
	}

	// Sizes
	&.field-sm {
		@include field-size(auto, $padding-vertical-sm, 0, $font-size-sm, $line-height-sm, 0);
	}

	&.field-lg {
		@include field-size(auto, $padding-vertical-sm, 0, $font-size-lg, $line-height-sm, 0);
	}
}
