.footer {

}

//##############################################################
//	Footer Default
//##############################################################
.footer.footer-default {
	padding: 30px;
	color: darken($color-stable, 10%);

	font-size: 12px;
	line-height: 2;
}