//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
//	This file defined general reset styling for html, body and
//	components.
//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????


//##############################################################
//	General
//##############################################################
* {
	@include box-sizing(border-box);
}

*:before,
*:after {
	@include box-sizing(border-box);
}

//##############################################################
//	HTML & Body
//##############################################################
html {

}

body {
	// Colors
	background-color: $body-bg;
	color: $text-color;

	// Alignment
	text-align: $text-align;

	// Typography
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;

	margin: 0px;
}

//##############################################################
//	Elements
//##############################################################

// Reset elements attributes
input, 
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}