//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
//	This file defines heading styles.
//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;

	color: $heading-color;
}

//##############################################################
//	Headline : sets a border bottom style for better mark a heading.
//##############################################################
.headline {
	padding-bottom: 0.3em;
	margin: 1em 0 0.8em;
	border-bottom: 1px solid $headline-line-color;
}