@font-face{
	font-family:'Glyphicons Social Regular';
	src: url('#{$icons-font-path}#{$icons-social-font-name}.eot');
	src: url('#{$icons-font-path}#{$icons-social-font-name}.eot?#iefix') format('embedded-opentype'),
		 url('#{$icons-font-path}#{$icons-social-font-name}.woff') format('woff'),
		 url('#{$icons-font-path}#{$icons-social-font-name}.ttf') format('truetype'),
		 url('#{$icons-font-path}#{$icons-social-font-name}.svg#glyphiconsregular') format('svg');
}

// Social icons base class
.icon[class*="social-"] {
	font-family: 'Glyphicons Social Regular';
}

.icon.social-pinterest 							{ &:before { content: "\E001"; } }
.icon.social-dropbox 							{ &:before { content: "\E002"; } }
.icon.social-google-plus 						{ &:before { content: "\E003"; } }
.icon.social-jolicloud 							{ &:before { content: "\E004"; } }
.icon.social-yahoo 								{ &:before { content: "\E005"; } }
.icon.social-blogger 							{ &:before { content: "\E006"; } }
.icon.social-picasa 							{ &:before { content: "\E007"; } }
.icon.social-amazon 							{ &:before { content: "\E008"; } }
.icon.social-tumblr 							{ &:before { content: "\E009"; } }
.icon.social-wordpress 							{ &:before { content: "\E010"; } }
.icon.social-instapaper 						{ &:before { content: "\E011"; } }
.icon.social-evernote 							{ &:before { content: "\E012"; } }
.icon.social-xing 								{ &:before { content: "\E013"; } }
.icon.social-zootool 							{ &:before { content: "\E014"; } }
.icon.social-dribbble 							{ &:before { content: "\E015"; } }
.icon.social-deviantart 						{ &:before { content: "\E016"; } }
.icon.social-read-it-later 						{ &:before { content: "\E017"; } }
.icon.social-linked-in 							{ &:before { content: "\E018"; } }
.icon.social-forrst 							{ &:before { content: "\E019"; } }
.icon.social-pinboard 							{ &:before { content: "\E020"; } }
.icon.social-behance 							{ &:before { content: "\E021"; } }
.icon.social-github 							{ &:before { content: "\E022"; } }
.icon.social-youtube 							{ &:before { content: "\E023"; } }
.icon.social-skitch 							{ &:before { content: "\E024"; } }
.icon.social-foursquare 						{ &:before { content: "\E025"; } }
.icon.social-quora 								{ &:before { content: "\E026"; } }
.icon.social-badoo 								{ &:before { content: "\E027"; } }
.icon.social-spotify 							{ &:before { content: "\E028"; } }
.icon.social-stumbleupon 						{ &:before { content: "\E029"; } }
.icon.social-readability 						{ &:before { content: "\E030"; } }
.icon.social-facebook 							{ &:before { content: "\E031"; } }
.icon.social-twitter 							{ &:before { content: "\E032"; } }
.icon.social-instagram 							{ &:before { content: "\E033"; } }
.icon.social-posterous-spaces 					{ &:before { content: "\E034"; } }
.icon.social-vimeo 								{ &:before { content: "\E035"; } }
.icon.social-flickr 							{ &:before { content: "\E036"; } }
.icon.social-last-fm 							{ &:before { content: "\E037"; } }
.icon.social-rss 								{ &:before { content: "\E038"; } }
.icon.social-skype 								{ &:before { content: "\E039"; } }
.icon.social-e-mail 							{ &:before { content: "\E040"; } }
.icon.social-vine 								{ &:before { content: "\E041"; } }
.icon.social-myspace 							{ &:before { content: "\E042"; } }
.icon.social-goodreads 							{ &:before { content: "\E043"; } }
.icon.social-apple 								{ &:before { content: "\F8FF"; } }
.icon.social-windows 							{ &:before { content: "\E045"; } }
.icon.social-yelp 								{ &:before { content: "\E046"; } }
.icon.social-playstation 						{ &:before { content: "\E047"; } }
.icon.social-xbox 								{ &:before { content: "\E048"; } }
.icon.social-android 							{ &:before { content: "\E049"; } }
.icon.social-ios 								{ &:before { content: "\E050"; } }