@font-face{
	font-family:'Glyphicons Regular';
	src: url('#{$icons-font-path}#{$icons-glyph-font-name}.eot');
	src: url('#{$icons-font-path}#{$icons-glyph-font-name}.eot?#iefix') format('embedded-opentype'),
		 url('#{$icons-font-path}#{$icons-glyph-font-name}.woff') format('woff'),
		 url('#{$icons-font-path}#{$icons-glyph-font-name}.ttf') format('truetype'),
		 url('#{$icons-font-path}#{$icons-glyph-font-name}.svg#glyphiconsregular') format('svg');
}

// Icon base class
.icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-family: 'Glyphicons Regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon.glass										{ &:before { content:"\E001"; } }
.icon.leaf										{ &:before { content:"\E002"; } }
.icon.dog										{ &:before { content:"\E003"; } }
.icon.user										{ &:before { content:"\E004"; } }
.icon.girl										{ &:before { content:"\E005"; } }
.icon.car										{ &:before { content:"\E006"; } }
.icon.user-add									{ &:before { content:"\E007"; } }
.icon.user-remove								{ &:before { content:"\E008"; } }
.icon.film										{ &:before { content:"\E009"; } }
.icon.magic										{ &:before { content:"\E010"; } }
.icon.envelope									{ &:before { content:"\2709"; } }
.icon.camera									{ &:before { content:"\E011"; } }
.icon.heart										{ &:before { content:"\E013"; } }
.icon.beach-umbrella							{ &:before { content:"\E014"; } }
.icon.train										{ &:before { content:"\E015"; } }
.icon.print										{ &:before { content:"\E016"; } }
.icon.bin										{ &:before { content:"\E017"; } }
.icon.music										{ &:before { content:"\E018"; } }
.icon.note										{ &:before { content:"\E019"; } }
.icon.heart-empty								{ &:before { content:"\E020"; } }
.icon.home										{ &:before { content:"\E021"; } }
.icon.snowflake									{ &:before { content:"\2744"; } }
.icon.fire										{ &:before { content:"\E023"; } }
.icon.magnet									{ &:before { content:"\E024"; } }
.icon.parents									{ &:before { content:"\E025"; } }
.icon.binoculars								{ &:before { content:"\E026"; } }
.icon.road										{ &:before { content:"\E027"; } }
.icon.search									{ &:before { content:"\E028"; } }
.icon.cars										{ &:before { content:"\E029"; } }
.icon.notes-2									{ &:before { content:"\E030"; } }
.icon.pencil									{ &:before { content:"\270F"; } }
.icon.bus										{ &:before { content:"\E032"; } }
.icon.wifi-alt									{ &:before { content:"\E033"; } }
.icon.luggage									{ &:before { content:"\E034"; } }
.icon.old-man									{ &:before { content:"\E035"; } }
.icon.woman										{ &:before { content:"\E036"; } }
.icon.file										{ &:before { content:"\E037"; } }
.icon.coins										{ &:before { content:"\E038"; } }
.icon.airplane									{ &:before { content:"\2708"; } }
.icon.notes										{ &:before { content:"\E040"; } }
.icon.stats										{ &:before { content:"\E041"; } }
.icon.charts									{ &:before { content:"\E042"; } }
.icon.pie-chart									{ &:before { content:"\E043"; } }
.icon.group										{ &:before { content:"\E044"; } }
.icon.keys										{ &:before { content:"\E045"; } }
.icon.calendar									{ &:before { content:"\E046"; } }
.icon.router									{ &:before { content:"\E047"; } }
.icon.camera-small								{ &:before { content:"\E048"; } }
.icon.dislikes									{ &:before { content:"\E049"; } }
.icon.star										{ &:before { content:"\E050"; } }
.icon.link										{ &:before { content:"\E051"; } }
.icon.eye-open									{ &:before { content:"\E052"; } }
.icon.eye-close									{ &:before { content:"\E053"; } }
.icon.alarm										{ &:before { content:"\E054"; } }
.icon.clock										{ &:before { content:"\E055"; } }
.icon.stopwatch									{ &:before { content:"\E056"; } }
.icon.projector									{ &:before { content:"\E057"; } }
.icon.history									{ &:before { content:"\E058"; } }
.icon.truck										{ &:before { content:"\E059"; } }
.icon.cargo										{ &:before { content:"\E060"; } }
.icon.compass									{ &:before { content:"\E061"; } }
.icon.keynote									{ &:before { content:"\E062"; } }
.icon.paperclip									{ &:before { content:"\E063"; } }
.icon.power										{ &:before { content:"\E064"; } }
.icon.lightbulb									{ &:before { content:"\E065"; } }
.icon.tag										{ &:before { content:"\E066"; } }
.icon.tags										{ &:before { content:"\E067"; } }
.icon.cleaning									{ &:before { content:"\E068"; } }
.icon.ruller									{ &:before { content:"\E069"; } }
.icon.gift										{ &:before { content:"\E070"; } }
.icon.umbrella									{ &:before { content:"\2602"; } }
.icon.book										{ &:before { content:"\E072"; } }
.icon.bookmark									{ &:before { content:"\E073"; } }
.icon.wifi										{ &:before { content:"\E074"; } }
.icon.cup										{ &:before { content:"\E075"; } }
.icon.stroller									{ &:before { content:"\E076"; } }
.icon.headphones								{ &:before { content:"\E077"; } }
.icon.headset									{ &:before { content:"\E078"; } }
.icon.warning-sign								{ &:before { content:"\E079"; } }
.icon.signal									{ &:before { content:"\E080"; } }
.icon.retweet									{ &:before { content:"\E081"; } }
.icon.refresh									{ &:before { content:"\E082"; } }
.icon.roundabout								{ &:before { content:"\E083"; } }
.icon.random									{ &:before { content:"\E084"; } }
.icon.heat										{ &:before { content:"\E085"; } }
.icon.repeat									{ &:before { content:"\E086"; } }
.icon.display									{ &:before { content:"\E087"; } }
.icon.log-book									{ &:before { content:"\E088"; } }
.icon.address-book								{ &:before { content:"\E089"; } }
.icon.building									{ &:before { content:"\E090"; } }
.icon.eyedropper								{ &:before { content:"\E091"; } }
.icon.adjust									{ &:before { content:"\E092"; } }
.icon.tint										{ &:before { content:"\E093"; } }
.icon.crop										{ &:before { content:"\E094"; } }
.icon.vector-path-square						{ &:before { content:"\E095"; } }
.icon.vector-path-circle						{ &:before { content:"\E096"; } }
.icon.vector-path-polygon						{ &:before { content:"\E097"; } }
.icon.vector-path-line							{ &:before { content:"\E098"; } }
.icon.vector-path-curve							{ &:before { content:"\E099"; } }
.icon.vector-path-all							{ &:before { content:"\E100"; } }
.icon.font										{ &:before { content:"\E101"; } }
.icon.italic									{ &:before { content:"\E102"; } }
.icon.bold										{ &:before { content:"\E103"; } }
.icon.text-underline							{ &:before { content:"\E104"; } }
.icon.text-strike								{ &:before { content:"\E105"; } }
.icon.text-height								{ &:before { content:"\E106"; } }
.icon.text-width								{ &:before { content:"\E107"; } }
.icon.text-resize								{ &:before { content:"\E108"; } }
.icon.left-indent								{ &:before { content:"\E109"; } }
.icon.right-indent								{ &:before { content:"\E110"; } }
.icon.align-left								{ &:before { content:"\E111"; } }
.icon.align-center								{ &:before { content:"\E112"; } }
.icon.align-right								{ &:before { content:"\E113"; } }
.icon.justify									{ &:before { content:"\E114"; } }
.icon.list										{ &:before { content:"\E115"; } }
.icon.text-smaller								{ &:before { content:"\E116"; } }
.icon.text-bigger								{ &:before { content:"\E117"; } }
.icon.embed										{ &:before { content:"\E118"; } }
.icon.embed-close								{ &:before { content:"\E119"; } }
.icon.table										{ &:before { content:"\E120"; } }
.icon.message-full								{ &:before { content:"\E121"; } }
.icon.message-empty								{ &:before { content:"\E122"; } }
.icon.message-in								{ &:before { content:"\E123"; } }
.icon.message-out								{ &:before { content:"\E124"; } }
.icon.message-plus								{ &:before { content:"\E125"; } }
.icon.message-minus								{ &:before { content:"\E126"; } }
.icon.message-ban								{ &:before { content:"\E127"; } }
.icon.message-flag								{ &:before { content:"\E128"; } }
.icon.message-lock								{ &:before { content:"\E129"; } }
.icon.message-new								{ &:before { content:"\E130"; } }
.icon.inbox										{ &:before { content:"\E131"; } }
.icon.inbox-plus								{ &:before { content:"\E132"; } }
.icon.inbox-minus								{ &:before { content:"\E133"; } }
.icon.inbox-lock								{ &:before { content:"\E134"; } }
.icon.inbox-in									{ &:before { content:"\E135"; } }
.icon.inbox-out									{ &:before { content:"\E136"; } }
.icon.cogwheel									{ &:before { content:"\E137"; } }
.icon.cogwheels									{ &:before { content:"\E138"; } }
.icon.picture									{ &:before { content:"\E139"; } }
.icon.adjust-alt								{ &:before { content:"\E140"; } }
.icon.database-lock								{ &:before { content:"\E141"; } }
.icon.database-plus								{ &:before { content:"\E142"; } }
.icon.database-minus							{ &:before { content:"\E143"; } }
.icon.database-ban								{ &:before { content:"\E144"; } }
.icon.folder-open								{ &:before { content:"\E145"; } }
.icon.folder-plus								{ &:before { content:"\E146"; } }
.icon.folder-minus								{ &:before { content:"\E147"; } }
.icon.folder-lock								{ &:before { content:"\E148"; } }
.icon.folder-flag								{ &:before { content:"\E149"; } }
.icon.folder-new								{ &:before { content:"\E150"; } }
.icon.edit										{ &:before { content:"\E151"; } }
.icon.new-window								{ &:before { content:"\E152"; } }
.icon.check										{ &:before { content:"\E153"; } }
.icon.unchecked									{ &:before { content:"\E154"; } }
.icon.more-windows								{ &:before { content:"\E155"; } }
.icon.show-big-thumbnails						{ &:before { content:"\E156"; } }
.icon.show-thumbnails							{ &:before { content:"\E157"; } }
.icon.show-thumbnails-with-lines				{ &:before { content:"\E158"; } }
.icon.show-lines								{ &:before { content:"\E159"; } }
.icon.playlist									{ &:before { content:"\E160"; } }
.icon.imac										{ &:before { content:"\E161"; } }
.icon.macbook									{ &:before { content:"\E162"; } }
.icon.ipad										{ &:before { content:"\E163"; } }
.icon.iphone									{ &:before { content:"\E164"; } }
.icon.iphone-transfer							{ &:before { content:"\E165"; } }
.icon.iphone-exchange							{ &:before { content:"\E166"; } }
.icon.ipod										{ &:before { content:"\E167"; } }
.icon.ipod-shuffle								{ &:before { content:"\E168"; } }
.icon.ear-plugs									{ &:before { content:"\E169"; } }
.icon.record									{ &:before { content:"\E170"; } }
.icon.step-backward								{ &:before { content:"\E171"; } }
.icon.fast-backward								{ &:before { content:"\E172"; } }
.icon.rewind									{ &:before { content:"\E173"; } }
.icon.play										{ &:before { content:"\E174"; } }
.icon.pause										{ &:before { content:"\E175"; } }
.icon.stop										{ &:before { content:"\E176"; } }
.icon.forward									{ &:before { content:"\E177"; } }
.icon.fast-forward								{ &:before { content:"\E178"; } }
.icon.step-forward								{ &:before { content:"\E179"; } }
.icon.eject										{ &:before { content:"\E180"; } }
.icon.facetime-video							{ &:before { content:"\E181"; } }
.icon.download-alt								{ &:before { content:"\E182"; } }
.icon.mute										{ &:before { content:"\E183"; } }
.icon.volume-down								{ &:before { content:"\E184"; } }
.icon.volume-up									{ &:before { content:"\E185"; } }
.icon.screenshot								{ &:before { content:"\E186"; } }
.icon.move										{ &:before { content:"\E187"; } }
.icon.more										{ &:before { content:"\E188"; } }
.icon.brightness-reduce							{ &:before { content:"\E189"; } }
.icon.brightness-increase						{ &:before { content:"\E190"; } }
.icon.circle-plus								{ &:before { content:"\E191"; } }
.icon.circle-minus								{ &:before { content:"\E192"; } }
.icon.circle-remove								{ &:before { content:"\E193"; } }
.icon.circle-ok									{ &:before { content:"\E194"; } }
.icon.circle-question-mark						{ &:before { content:"\E195"; } }
.icon.circle-info								{ &:before { content:"\E196"; } }
.icon.circle-exclamation-mark					{ &:before { content:"\E197"; } }
.icon.remove									{ &:before { content:"\E198"; } }
.icon.ok										{ &:before { content:"\E199"; } }
.icon.ban										{ &:before { content:"\E200"; } }
.icon.download									{ &:before { content:"\E201"; } }
.icon.upload									{ &:before { content:"\E202"; } }
.icon.shopping-cart								{ &:before { content:"\E203"; } }
.icon.lock										{ &:before { content:"\E204"; } }
.icon.unlock									{ &:before { content:"\E205"; } }
.icon.electricity								{ &:before { content:"\E206"; } }
.icon.ok-2										{ &:before { content:"\E207"; } }
.icon.remove-2									{ &:before { content:"\E208"; } }
.icon.cart-out									{ &:before { content:"\E209"; } }
.icon.cart-in									{ &:before { content:"\E210"; } }
.icon.left-arrow								{ &:before { content:"\E211"; } }
.icon.right-arrow								{ &:before { content:"\E212"; } }
.icon.down-arrow								{ &:before { content:"\E213"; } }
.icon.up-arrow									{ &:before { content:"\E214"; } }
.icon.resize-small								{ &:before { content:"\E215"; } }
.icon.resize-full								{ &:before { content:"\E216"; } }
.icon.circle-arrow-left							{ &:before { content:"\E217"; } }
.icon.circle-arrow-right						{ &:before { content:"\E218"; } }
.icon.circle-arrow-top							{ &:before { content:"\E219"; } }
.icon.circle-arrow-down							{ &:before { content:"\E220"; } }
.icon.play-button								{ &:before { content:"\E221"; } }
.icon.unshare									{ &:before { content:"\E222"; } }
.icon.share										{ &:before { content:"\E223"; } }
.icon.chevron-right								{ &:before { content:"\E224"; } }
.icon.chevron-left								{ &:before { content:"\E225"; } }
.icon.bluetooth									{ &:before { content:"\E226"; } }
.icon.euro										{ &:before { content:"\20AC"; } }
.icon.usd										{ &:before { content:"\E228"; } }
.icon.gbp										{ &:before { content:"\E229"; } }
.icon.retweet-2									{ &:before { content:"\E230"; } }
.icon.moon										{ &:before { content:"\E231"; } }
.icon.sun										{ &:before { content:"\2609"; } }
.icon.cloud										{ &:before { content:"\2601"; } }
.icon.direction									{ &:before { content:"\E234"; } }
.icon.brush										{ &:before { content:"\E235"; } }
.icon.pen										{ &:before { content:"\E236"; } }
.icon.zoom-in									{ &:before { content:"\E237"; } }
.icon.zoom-out									{ &:before { content:"\E238"; } }
.icon.pin										{ &:before { content:"\E239"; } }
.icon.albums									{ &:before { content:"\E240"; } }
.icon.rotation-lock								{ &:before { content:"\E241"; } }
.icon.flash										{ &:before { content:"\E242"; } }
.icon.google-maps								{ &:before { content:"\E243"; } }
.icon.anchor									{ &:before { content:"\2693"; } }
.icon.conversation								{ &:before { content:"\E245"; } }
.icon.chat										{ &:before { content:"\E246"; } }
.icon.male										{ &:before { content:"\E247"; } }
.icon.female									{ &:before { content:"\E248"; } }
.icon.asterisk									{ &:before { content:"\002A"; } }
.icon.divide									{ &:before { content:"\00F7"; } }
.icon.snorkel-diving							{ &:before { content:"\E251"; } }
.icon.scuba-diving								{ &:before { content:"\E252"; } }
.icon.oxygen-bottle								{ &:before { content:"\E253"; } }
.icon.fins										{ &:before { content:"\E254"; } }
.icon.fishes									{ &:before { content:"\E255"; } }
.icon.boat										{ &:before { content:"\E256"; } }
.icon.delete									{ &:before { content:"\E257"; } }
.icon.sheriffs-star								{ &:before { content:"\E258"; } }
.icon.qrcode									{ &:before { content:"\E259"; } }
.icon.barcode									{ &:before { content:"\E260"; } }
.icon.pool										{ &:before { content:"\E261"; } }
.icon.buoy										{ &:before { content:"\E262"; } }
.icon.spade										{ &:before { content:"\E263"; } }
.icon.bank										{ &:before { content:"\E264"; } }
.icon.vcard										{ &:before { content:"\E265"; } }
.icon.electrical-plug							{ &:before { content:"\E266"; } }
.icon.flag										{ &:before { content:"\E267"; } }
.icon.credit-card								{ &:before { content:"\E268"; } }
.icon.keyboard-wireless							{ &:before { content:"\E269"; } }
.icon.keyboard-wired							{ &:before { content:"\E270"; } }
.icon.shield									{ &:before { content:"\E271"; } }
.icon.ring										{ &:before { content:"\02DA"; } }
.icon.cake										{ &:before { content:"\E273"; } }
.icon.drink										{ &:before { content:"\E274"; } }
.icon.beer										{ &:before { content:"\E275"; } }
.icon.fast-food									{ &:before { content:"\E276"; } }
.icon.cutlery									{ &:before { content:"\E277"; } }
.icon.pizza										{ &:before { content:"\E278"; } }
.icon.birthday-cake								{ &:before { content:"\E279"; } }
.icon.tablet									{ &:before { content:"\E280"; } }
.icon.settings									{ &:before { content:"\E281"; } }
.icon.bullets									{ &:before { content:"\E282"; } }
.icon.cardio									{ &:before { content:"\E283"; } }
.icon.t-shirt									{ &:before { content:"\E284"; } }
.icon.pants										{ &:before { content:"\E285"; } }
.icon.sweater									{ &:before { content:"\E286"; } }
.icon.fabric									{ &:before { content:"\E287"; } }
.icon.leather									{ &:before { content:"\E288"; } }
.icon.scissors									{ &:before { content:"\E289"; } }
.icon.bomb										{ &:before { content:"\E290"; } }
.icon.skull										{ &:before { content:"\E291"; } }
.icon.celebration								{ &:before { content:"\E292"; } }
.icon.tea-kettle								{ &:before { content:"\E293"; } }
.icon.french-press								{ &:before { content:"\E294"; } }
.icon.coffee-cup								{ &:before { content:"\E295"; } }
.icon.pot										{ &:before { content:"\E296"; } }
.icon.grater									{ &:before { content:"\E297"; } }
.icon.kettle									{ &:before { content:"\E298"; } }
.icon.hospital									{ &:before { content:"\E299"; } }
.icon.hospital-h								{ &:before { content:"\E300"; } }
.icon.microphone								{ &:before { content:"\E301"; } }
.icon.webcam									{ &:before { content:"\E302"; } }
.icon.temple-christianity-church				{ &:before { content:"\E303"; } }
.icon.temple-islam								{ &:before { content:"\E304"; } }
.icon.temple-hindu								{ &:before { content:"\E305"; } }
.icon.temple-buddhist							{ &:before { content:"\E306"; } }
.icon.bicycle									{ &:before { content:"\E307"; } }
.icon.life-preserver							{ &:before { content:"\E308"; } }
.icon.share-alt									{ &:before { content:"\E309"; } }
.icon.comments									{ &:before { content:"\E310"; } }
.icon.flower									{ &:before { content:"\2698"; } }
.icon.baseball									{ &:before { content:"\26BE"; } }
.icon.rugby										{ &:before { content:"\E313"; } }
.icon.ax										{ &:before { content:"\E314"; } }
.icon.table-tennis								{ &:before { content:"\E315"; } }
.icon.bowling									{ &:before { content:"\E316"; } }
.icon.tree-conifer								{ &:before { content:"\E317"; } }
.icon.tree-deciduous							{ &:before { content:"\E318"; } }
.icon.more-items								{ &:before { content:"\E319"; } }
.icon.sort										{ &:before { content:"\E320"; } }
.icon.filter									{ &:before { content:"\E321"; } }
.icon.gamepad									{ &:before { content:"\E322"; } }
.icon.playing-dices								{ &:before { content:"\E323"; } }
.icon.calculator								{ &:before { content:"\E324"; } }
.icon.tie										{ &:before { content:"\E325"; } }
.icon.wallet									{ &:before { content:"\E326"; } }
.icon.piano										{ &:before { content:"\E327"; } }
.icon.sampler									{ &:before { content:"\E328"; } }
.icon.podium									{ &:before { content:"\E329"; } }
.icon.soccer-ball								{ &:before { content:"\E330"; } }
.icon.blog										{ &:before { content:"\E331"; } }
.icon.dashboard									{ &:before { content:"\E332"; } }
.icon.certificate								{ &:before { content:"\E333"; } }
.icon.bell										{ &:before { content:"\E334"; } }
.icon.candle									{ &:before { content:"\E335"; } }
.icon.pushpin									{ &:before { content:"\E336"; } }
.icon.iphone-shake								{ &:before { content:"\E337"; } }
.icon.pin-flag									{ &:before { content:"\E338"; } }
.icon.turtle									{ &:before { content:"\E339"; } }
.icon.rabbit									{ &:before { content:"\E340"; } }
.icon.globe										{ &:before { content:"\E341"; } }
.icon.briefcase									{ &:before { content:"\E342"; } }
.icon.hdd										{ &:before { content:"\E343"; } }
.icon.thumbs-up									{ &:before { content:"\E344"; } }
.icon.thumbs-down								{ &:before { content:"\E345"; } }
.icon.hand-right								{ &:before { content:"\E346"; } }
.icon.hand-left									{ &:before { content:"\E347"; } }
.icon.hand-up									{ &:before { content:"\E348"; } }
.icon.hand-down									{ &:before { content:"\E349"; } }
.icon.fullscreen								{ &:before { content:"\E350"; } }
.icon.shopping-bag								{ &:before { content:"\E351"; } }
.icon.book-open									{ &:before { content:"\E352"; } }
.icon.nameplate									{ &:before { content:"\E353"; } }
.icon.nameplate-alt								{ &:before { content:"\E354"; } }
.icon.vases										{ &:before { content:"\E355"; } }
.icon.bullhorn									{ &:before { content:"\E356"; } }
.icon.dumbbell									{ &:before { content:"\E357"; } }
.icon.suitcase									{ &:before { content:"\E358"; } }
.icon.file-import								{ &:before { content:"\E359"; } }
.icon.file-export								{ &:before { content:"\E360"; } }
.icon.bug										{ &:before { content:"\E361"; } }
.icon.crown										{ &:before { content:"\E362"; } }
.icon.smoking									{ &:before { content:"\E363"; } }
.icon.cloud-download							{ &:before { content:"\E364"; } }
.icon.cloud-upload								{ &:before { content:"\E365"; } }
.icon.restart									{ &:before { content:"\E366"; } }
.icon.security-camera							{ &:before { content:"\E367"; } }
.icon.expand									{ &:before { content:"\E368"; } }
.icon.collapse									{ &:before { content:"\E369"; } }
.icon.collapse-top								{ &:before { content:"\E370"; } }
.icon.globe-af									{ &:before { content:"\E371"; } }
.icon.global									{ &:before { content:"\E372"; } }
.icon.spray										{ &:before { content:"\E373"; } }
.icon.nails										{ &:before { content:"\E374"; } }
.icon.claw-hammer								{ &:before { content:"\E375"; } }
.icon.classic-hammer							{ &:before { content:"\E376"; } }
.icon.hand-saw									{ &:before { content:"\E377"; } }
.icon.riflescope								{ &:before { content:"\E378"; } }
.icon.electrical-socket-eu						{ &:before { content:"\E379"; } }
.icon.electrical-socket-us						{ &:before { content:"\E380"; } }
.icon.message-forward							{ &:before { content:"\E381"; } }
.icon.coat-hanger								{ &:before { content:"\E382"; } }
.icon.dress										{ &:before { content:"\E383"; } }
.icon.bathrobe									{ &:before { content:"\E384"; } }
.icon.shirt										{ &:before { content:"\E385"; } }
.icon.underwear									{ &:before { content:"\E386"; } }
.icon.log-in									{ &:before { content:"\E387"; } }
.icon.log-out									{ &:before { content:"\E388"; } }
.icon.exit										{ &:before { content:"\E389"; } }
.icon.new-window-alt							{ &:before { content:"\E390"; } }
.icon.video-sd									{ &:before { content:"\E391"; } }
.icon.video-hd									{ &:before { content:"\E392"; } }
.icon.subtitles									{ &:before { content:"\E393"; } }
.icon.sound-stereo								{ &:before { content:"\E394"; } }
.icon.sound-dolby								{ &:before { content:"\E395"; } }
.icon.sound-5-1									{ &:before { content:"\E396"; } }
.icon.sound-6-1									{ &:before { content:"\E397"; } }
.icon.sound-7-1									{ &:before { content:"\E398"; } }
.icon.copyright-mark							{ &:before { content:"\E399"; } }
.icon.registration-mark							{ &:before { content:"\E400"; } }
.icon.radar										{ &:before { content:"\E401"; } }
.icon.skateboard								{ &:before { content:"\E402"; } }
.icon.golf-course								{ &:before { content:"\E403"; } }
.icon.sorting									{ &:before { content:"\E404"; } }
.icon.sort-by-alphabet							{ &:before { content:"\E405"; } }
.icon.sort-by-alphabet-alt						{ &:before { content:"\E406"; } }
.icon.sort-by-order								{ &:before { content:"\E407"; } }
.icon.sort-by-order-alt							{ &:before { content:"\E408"; } }
.icon.sort-by-attributes						{ &:before { content:"\E409"; } }
.icon.sort-by-attributes-alt					{ &:before { content:"\E410"; } }
.icon.compressed								{ &:before { content:"\E411"; } }
.icon.package									{ &:before { content:"\E412"; } }
.icon.cloud-plus								{ &:before { content:"\E413"; } }
.icon.cloud-minus								{ &:before { content:"\E414"; } }
.icon.disk-save									{ &:before { content:"\E415"; } }
.icon.disk-open									{ &:before { content:"\E416"; } }
.icon.disk-saved								{ &:before { content:"\E417"; } }
.icon.disk-remove								{ &:before { content:"\E418"; } }
.icon.disk-import								{ &:before { content:"\E419"; } }
.icon.disk-export								{ &:before { content:"\E420"; } }
.icon.tower										{ &:before { content:"\E421"; } }
.icon.send										{ &:before { content:"\E422"; } }
.icon.git-branch								{ &:before { content:"\E423"; } }
.icon.git-create								{ &:before { content:"\E424"; } }
.icon.git-private								{ &:before { content:"\E425"; } }
.icon.git-delete								{ &:before { content:"\E426"; } }
.icon.git-merge									{ &:before { content:"\E427"; } }
.icon.git-pull-request							{ &:before { content:"\E428"; } }
.icon.git-compare								{ &:before { content:"\E429"; } }
.icon.git-commit								{ &:before { content:"\E430"; } }
.icon.construction-cone							{ &:before { content:"\E431"; } }
.icon.shoe-steps								{ &:before { content:"\E432"; } }
.icon.plus										{ &:before { content:"\002B"; } }
.icon.minus										{ &:before { content:"\2212"; } }
.icon.redo										{ &:before { content:"\E435"; } }
.icon.undo										{ &:before { content:"\E436"; } }
.icon.golf										{ &:before { content:"\E437"; } }
.icon.hockey									{ &:before { content:"\E438"; } }
.icon.pipe										{ &:before { content:"\E439"; } }
.icon.wrench									{ &:before { content:"\E440"; } }
.icon.folder-closed								{ &:before { content:"\E441"; } }
.icon.phone-alt									{ &:before { content:"\E442"; } }
.icon.earphone									{ &:before { content:"\E443"; } }
.icon.floppy-disk								{ &:before { content:"\E444"; } }
.icon.floppy-saved								{ &:before { content:"\E445"; } }
.icon.floppy-remove								{ &:before { content:"\E446"; } }
.icon.floppy-save								{ &:before { content:"\E447"; } }
.icon.floppy-open								{ &:before { content:"\E448"; } }
.icon.translate									{ &:before { content:"\E449"; } }
.icon.fax										{ &:before { content:"\E450"; } }
.icon.factory									{ &:before { content:"\E451"; } }
.icon.shop-window								{ &:before { content:"\E452"; } }
.icon.shop										{ &:before { content:"\E453"; } }
.icon.kiosk										{ &:before { content:"\E454"; } }
.icon.kiosk-wheels								{ &:before { content:"\E455"; } }
.icon.kiosk-light								{ &:before { content:"\E456"; } }
.icon.kiosk-food								{ &:before { content:"\E457"; } }
.icon.transfer									{ &:before { content:"\E458"; } }
.icon.money										{ &:before { content:"\E459"; } }
.icon.header									{ &:before { content:"\E460"; } }
.icon.blacksmith								{ &:before { content:"\E461"; } }
.icon.saw-blade									{ &:before { content:"\E462"; } }
.icon.basketball								{ &:before { content:"\E463"; } }
.icon.server									{ &:before { content:"\E464"; } }
.icon.server-plus								{ &:before { content:"\E465"; } }
.icon.server-minus								{ &:before { content:"\E466"; } }
.icon.server-ban								{ &:before { content:"\E467"; } }
.icon.server-flag								{ &:before { content:"\E468"; } }
.icon.server-lock								{ &:before { content:"\E469"; } }
.icon.server-new								{ &:before { content:"\E470"; } }