@font-face{
	font-family:'Glyphicons Filetypes Regular';
	src: url('#{$icons-font-path}#{$icons-filetypes-font-name}.eot');
	src: url('#{$icons-font-path}#{$icons-filetypes-font-name}.eot?#iefix') format('embedded-opentype'),
		 url('#{$icons-font-path}#{$icons-filetypes-font-name}.woff') format('woff'),
		 url('#{$icons-font-path}#{$icons-filetypes-font-name}.ttf') format('truetype'),
		 url('#{$icons-font-path}#{$icons-filetypes-font-name}.svg#glyphiconsregular') format('svg');
}

// Filetype icons base class
.icon[class*="filetype-"] {
	font-family: 'Glyphicons Filetypes Regular';
}

.icon.filetype-txt								{ &:before { content:"\E001"; } }
.icon.filetype-doc								{ &:before { content:"\E002"; } }
.icon.filetype-rtf								{ &:before { content:"\E003"; } }
.icon.filetype-log								{ &:before { content:"\E004"; } }
.icon.filetype-tex								{ &:before { content:"\E005"; } }
.icon.filetype-msg								{ &:before { content:"\E006"; } }
.icon.filetype-text								{ &:before { content:"\E007"; } }
.icon.filetype-wpd								{ &:before { content:"\E008"; } }
.icon.filetype-wps								{ &:before { content:"\E009"; } }
.icon.filetype-docx								{ &:before { content:"\E010"; } }
.icon.filetype-page								{ &:before { content:"\E011"; } }
.icon.filetype-csv								{ &:before { content:"\E012"; } }
.icon.filetype-dat								{ &:before { content:"\E013"; } }
.icon.filetype-tar								{ &:before { content:"\E014"; } }
.icon.filetype-xml								{ &:before { content:"\E015"; } }
.icon.filetype-vcf								{ &:before { content:"\E016"; } }
.icon.filetype-pps								{ &:before { content:"\E017"; } }
.icon.filetype-key								{ &:before { content:"\E018"; } }
.icon.filetype-ppt								{ &:before { content:"\E019"; } }
.icon.filetype-pptx								{ &:before { content:"\E020"; } }
.icon.filetype-sdf								{ &:before { content:"\E021"; } }
.icon.filetype-gbr								{ &:before { content:"\E022"; } }
.icon.filetype-ged								{ &:before { content:"\E023"; } }
.icon.filetype-mp3								{ &:before { content:"\E024"; } }
.icon.filetype-m4a								{ &:before { content:"\E025"; } }
.icon.filetype-waw								{ &:before { content:"\E026"; } }
.icon.filetype-wma								{ &:before { content:"\E027"; } }
.icon.filetype-mpa								{ &:before { content:"\E028"; } }
.icon.filetype-iff								{ &:before { content:"\E029"; } }
.icon.filetype-aif								{ &:before { content:"\E030"; } }
.icon.filetype-ra								{ &:before { content:"\E031"; } }
.icon.filetype-mid								{ &:before { content:"\E032"; } }
.icon.filetype-m3v								{ &:before { content:"\E033"; } }
.icon.filetype-e-3gp							{ &:before { content:"\E034"; } }
.icon.filetype-shf								{ &:before { content:"\E035"; } }
.icon.filetype-avi								{ &:before { content:"\E036"; } }
.icon.filetype-asx								{ &:before { content:"\E037"; } }
.icon.filetype-mp4								{ &:before { content:"\E038"; } }
.icon.filetype-e-3g2							{ &:before { content:"\E039"; } }
.icon.filetype-mpg								{ &:before { content:"\E040"; } }
.icon.filetype-asf								{ &:before { content:"\E041"; } }
.icon.filetype-vob								{ &:before { content:"\E042"; } }
.icon.filetype-wmv								{ &:before { content:"\E043"; } }
.icon.filetype-mov								{ &:before { content:"\E044"; } }
.icon.filetype-srt								{ &:before { content:"\E045"; } }
.icon.filetype-m4v								{ &:before { content:"\E046"; } }
.icon.filetype-flv								{ &:before { content:"\E047"; } }
.icon.filetype-rm								{ &:before { content:"\E048"; } }
.icon.filetype-png								{ &:before { content:"\E049"; } }
.icon.filetype-psd								{ &:before { content:"\E050"; } }
.icon.filetype-psp								{ &:before { content:"\E051"; } }
.icon.filetype-jpg								{ &:before { content:"\E052"; } }
.icon.filetype-tif								{ &:before { content:"\E053"; } }
.icon.filetype-tiff								{ &:before { content:"\E054"; } }
.icon.filetype-gif								{ &:before { content:"\E055"; } }
.icon.filetype-bmp								{ &:before { content:"\E056"; } }
.icon.filetype-tga								{ &:before { content:"\E057"; } }
.icon.filetype-thm								{ &:before { content:"\E058"; } }
.icon.filetype-yuv								{ &:before { content:"\E059"; } }
.icon.filetype-dds								{ &:before { content:"\E060"; } }
.icon.filetype-ai								{ &:before { content:"\E061"; } }
.icon.filetype-eps								{ &:before { content:"\E062"; } }
.icon.filetype-ps								{ &:before { content:"\E063"; } }
.icon.filetype-svg								{ &:before { content:"\E064"; } }
.icon.filetype-pdf								{ &:before { content:"\E065"; } }
.icon.filetype-pct								{ &:before { content:"\E066"; } }
.icon.filetype-indd								{ &:before { content:"\E067"; } }
.icon.filetype-xlr								{ &:before { content:"\E068"; } }
.icon.filetype-xls								{ &:before { content:"\E069"; } }
.icon.filetype-xlsx								{ &:before { content:"\E070"; } }
.icon.filetype-db								{ &:before { content:"\E071"; } }
.icon.filetype-dbf								{ &:before { content:"\E072"; } }
.icon.filetype-mdb								{ &:before { content:"\E073"; } }
.icon.filetype-pdb								{ &:before { content:"\E074"; } }
.icon.filetype-sql								{ &:before { content:"\E075"; } }
.icon.filetype-aacd								{ &:before { content:"\E076"; } }
.icon.filetype-app								{ &:before { content:"\E077"; } }
.icon.filetype-exe								{ &:before { content:"\E078"; } }
.icon.filetype-com								{ &:before { content:"\E079"; } }
.icon.filetype-bat								{ &:before { content:"\E080"; } }
.icon.filetype-apk								{ &:before { content:"\E081"; } }
.icon.filetype-jar								{ &:before { content:"\E082"; } }
.icon.filetype-hsf								{ &:before { content:"\E083"; } }
.icon.filetype-pif								{ &:before { content:"\E084"; } }
.icon.filetype-vb								{ &:before { content:"\E085"; } }
.icon.filetype-cgi								{ &:before { content:"\E086"; } }
.icon.filetype-css								{ &:before { content:"\E087"; } }
.icon.filetype-js								{ &:before { content:"\E088"; } }
.icon.filetype-php								{ &:before { content:"\E089"; } }
.icon.filetype-xhtml							{ &:before { content:"\E090"; } }
.icon.filetype-htm								{ &:before { content:"\E091"; } }
.icon.filetype-html								{ &:before { content:"\E092"; } }
.icon.filetype-asp								{ &:before { content:"\E093"; } }
.icon.filetype-cer								{ &:before { content:"\E094"; } }
.icon.filetype-jsp								{ &:before { content:"\E095"; } }
.icon.filetype-cfm								{ &:before { content:"\E096"; } }
.icon.filetype-aspx								{ &:before { content:"\E097"; } }
.icon.filetype-rss								{ &:before { content:"\E098"; } }
.icon.filetype-csr								{ &:before { content:"\E099"; } }
.icon.filetype-less								{ &:before { content:"\003C"; } }
.icon.filetype-otf								{ &:before { content:"\E101"; } }
.icon.filetype-ttf								{ &:before { content:"\E102"; } }
.icon.filetype-font								{ &:before { content:"\E103"; } }
.icon.filetype-fnt								{ &:before { content:"\E104"; } }
.icon.filetype-eot								{ &:before { content:"\E105"; } }
.icon.filetype-woff								{ &:before { content:"\E106"; } }
.icon.filetype-zip								{ &:before { content:"\E107"; } }
.icon.filetype-zipx								{ &:before { content:"\E108"; } }
.icon.filetype-rar								{ &:before { content:"\E109"; } }
.icon.filetype-targ								{ &:before { content:"\E110"; } }
.icon.filetype-sitx								{ &:before { content:"\E111"; } }
.icon.filetype-deb								{ &:before { content:"\E112"; } }
.icon.filetype-e-7z								{ &:before { content:"\E113"; } }
.icon.filetype-pkg								{ &:before { content:"\E114"; } }
.icon.filetype-rpm								{ &:before { content:"\E115"; } }
.icon.filetype-cbr								{ &:before { content:"\E116"; } }
.icon.filetype-gz								{ &:before { content:"\E117"; } }
.icon.filetype-dmg								{ &:before { content:"\E118"; } }
.icon.filetype-cue								{ &:before { content:"\E119"; } }
.icon.filetype-bin								{ &:before { content:"\E120"; } }
.icon.filetype-iso								{ &:before { content:"\E121"; } }
.icon.filetype-hdf								{ &:before { content:"\E122"; } }
.icon.filetype-vcd								{ &:before { content:"\E123"; } }
.icon.filetype-bak								{ &:before { content:"\E124"; } }
.icon.filetype-tmp								{ &:before { content:"\E125"; } }
.icon.filetype-ics								{ &:before { content:"\E126"; } }
.icon.filetype-msi								{ &:before { content:"\E127"; } }
.icon.filetype-cfg								{ &:before { content:"\E128"; } }
.icon.filetype-ini								{ &:before { content:"\E129"; } }
.icon.filetype-prf								{ &:before { content:"\E130"; } }