img {
	vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.image-responsive {
	@include image-responsive();
}

// Rounded corners
.image-rounded {
	border-radius: $border-radius-lg;
}

// Perfect circle
.image-circle {
	border-radius: 50%; // set radius in percents
}
