.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;

	&.label-dark {@include label-flat($color-light, $color-dark);}
	&.label-positive {@include label-flat($color-light, $color-positive);}
	&.label-moody {@include label-flat($color-light, $color-moody);}
	&.label-calm {@include label-flat($color-light, $color-calm);}
	&.label-stable {@include label-flat($text-color, $color-stable);}
	&.label-success {@include label-flat($color-light, $color-success);}
	&.label-warning {@include label-flat($color-light, $color-warning);}
	&.label-danger {@include label-flat($color-light, $color-danger);}
}