//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
//	This file defines link styles.
//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
}

//##############################################################
//	Unstyled Link
//##############################################################
.link-unstyled {
	@include link-unstyled();
}