//##############################################################
//	General
//##############################################################
.menu {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

	@include clearfix();

	> li {
		position: relative;
		display: block;

		> a {
			position: relative;
			display: block;
			padding: $menu-link-padding;

			&:not(.button):hover {
				text-decoration: none;
				background-color: $menu-link-hover-bg;
			}
		}

		&.disabled > a {
			color: $menu-disabled-link-color;

			&:not(.button):hover {
				color: $menu-disabled-link-hover-color;
				text-decoration: none;
				background-color: transparent;
				cursor: not-allowed;
			}
		}
	}
}

.menu-inline {
	> li {
		float: left;
	}
}