//##############################################################
//	Modal General
//##############################################################
.modal {
	display: none; 			// Hidden by default.

	overflow: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: $zindex-modal;

	-webkit-overflow-scrolling: touch;

	outline: none;

	// Fading in animation.
	/*&.fade:not(.in) .modal-dialog {
		@include animation(flyout 0.5s);
    	//@include transition-transform("0.3s ease-out");
    	//@include translate(0, -25%);
	}*/

	.modal-dialog {
		@include transition(all 0.3s ease-out);

    	@include translate(0, -25%);
    	@include opacity(0);

    	//@include animation(flyout 0.3s);
	}

	&.in .modal-dialog {
		@include translate(0, 0);
		@include opacity(1);

		//@include animation(flyin 0.3s);
	}
}

//##############################################################
//	Modal Backdrop
//##############################################################
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: ($zindex-modal - 10);
	background-color: $modal-backdrop-bg;

	@include transition(opacity 0.5s);
	@include opacity(0);

	// In animation.
	&.in {@include opacity($modal-backdrop-opacity);}
}

//##############################################################
//	Modal Open
//##############################################################
.modal-open {
	overflow: hidden;

	/*.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}*/
}

//##############################################################
//	Modal Dialog
//##############################################################
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
	z-index: ($zindex-modal + 10);
}

//##############################################################
//	Modal Content
//##############################################################
.modal-content {
	position: relative;
	background-color: $modal-content-bg;
	border: 1px solid $modal-content-border-color;
	border-radius: $border-radius;

	@include box-shadow(0 3px 9px rgba(0,0,0,.5));

	background-clip: padding-box;

	outline: none;
}

//##############################################################
//	Modal Header
//##############################################################
.modal-header {
	padding: $modal-header-padding;
	min-height: ($modal-header-padding + $modal-header-line-height);
}

//##############################################################
//	Modal Header
//##############################################################
.modal-body {
	position: relative;
	padding: $modal-body-padding;
}

//##############################################################
//	Footer
//##############################################################
.modal-footer {
	padding: $modal-footer-padding;
	text-align: right;

	@extend .clearfix;

	.button + .button {
		margin-left: 5px;
		margin-bottom: 0;
	}
}

//##############################################################
//	Media Queries
//##############################################################
@media (min-width: $screen-sm-min) {
	.modal-dialog {
		width: $modal-width-md;
		margin: 30px auto;
	}

	.modal-content {
		@include box-shadow(0 5px 15px rgba(0,0,0,.5));
	}

	.modal-sm {width: $modal-width-sm;}
}

@media (min-width: $screen-md-min) {
	.modal-lg { width: $modal-width-lg; }
}