//##############################################################
//	Notifier Container
//##############################################################
.notification-center {

	position: fixed;
	top: $notification-center-top;
	right: $notification-center-right;
	width: $notification-center-width;
	z-index: $zindex-notification-center;

	> .notification {
		opacity: 0.8;
	}

	> .notification + .notification {
		margin-top: 10px;
	}

	> .notification.ng-enter,
	> .notification.ng-leave {
		@include transition( 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all );
	}

	> .notification.ng-enter.ng-enter-active,
	> .notification.ng-leave {
		opacity: 0.8;
	}

	> .notification.ng-leave.ng-leave-active,
	> .notification.ng-enter {
		opacity: 0;
	}
}

//##############################################################
//	Notification Styles
//##############################################################
.notification {

	&.notification-dark {
		background-color: $color-dark;
		color: white;
	}

	&.notification-positive {
		background-color: $color-positive;
		color: white;
	}

	&.notification-moody {
		background-color: $color-moody;
		color: white;
	}

	&.notification-calm {
		background-color: $color-calm;
		color: white;
	}

	&.notification-success {
		background-color: $color-success;
		color: white;
	}

	&.notification-danger {
		background-color: $color-danger;
		color: white;
	}

	&.notification-warning {
		background-color: $color-warning;
		color: white;
	}
}