//##############################################################
//  Animations
//##############################################################
// WebKit
@-webkit-keyframes progress-bar-stripes {
	from  { background-position: 40px 0; }
	to    { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
	from  { background-position: 40px 0; }
	to    { background-position: 0 0; }
}

//##############################################################
//  Progress Bars
//##############################################################

// Outer container
.progress {
	overflow: hidden;
	height: $font-size-sm + $padding-vertical;
	background-color: $progress-bg;
	border-radius: $border-radius;
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
}

// Bar of progress
.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: $font-size;
	line-height: $font-size-sm + $padding-vertical;
	color: $progress-bar-color;
	text-align: center;
	background-color: $progress-bar-bg;
	@include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
	@include transition(width .6s ease);
}

// Active progress
.progress.active .progress-bar,
.progress-bar.active {
	@include animation(progress-bar-stripes 2s linear infinite);
}

.progress-bar {
	&[aria-valuenow="1"],
	&[aria-valuenow="2"] {
		min-width: 30px;
	}

	&[aria-valuenow="0"] {
		color: $color-stable;
		min-width: 30px;
		background-color: transparent;
		background-image: none;
		box-shadow: none;
	}
}


//##############################################################
//  Progress Stripped Bar
//##############################################################
.progress-striped .progress-bar,
.progress-bar-striped {
	@include gradient-striped();
	background-size: 40px 40px;
}

//##############################################################
//  Progress Bar Styles
//##############################################################
.progress-bar-dark {
	@include progress-bar-style($color-dark);
}

.progress-bar-positive {
	@include progress-bar-style($color-positive);
}

.progress-bar-moody {
	@include progress-bar-style($color-moody);
}

.progress-bar-calm {
	@include progress-bar-style($color-calm);
}

.progress-bar-stable {
	@include progress-bar-style($color-stable);
}

.progress-bar-success {
	@include progress-bar-style($color-success);
}

.progress-bar-warning {
	@include progress-bar-style($color-warning);
}

.progress-bar-danger {
	@include progress-bar-style($color-danger);
}


//##############################################################
//  Size
//##############################################################
.progress {
	&.progress-sm {
		height: $font-size-xsm + $padding-vertical-sm;

		.progress-bar {
			font-size: $font-size-xsm;
			line-height: $font-size-xsm + $padding-vertical-sm;
		}
	}

	&.progress-lg {
		height: $font-size + $padding-vertical-lg;

		.progress-bar {
			font-size: $font-size;
			line-height: $font-size + $padding-vertical-lg;
		}
	}
}