.shadow {
	@include box-shadow(0 2px 8px #aaa);
}

.shadow-lb {
	position: relative;

	&:before {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background-color: #999;
		@include box-shadow(0 15px 10px #999);
		@include rotate(-3deg);
	}
}

.shadow-rb {
	position: relative;

	&:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: auto;
		right: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background-color: #999;
		@include box-shadow(0 15px 10px #999);
		@include rotate(3deg);
	}
}