.switch {
	font-size: 16px;
	background-color: $switch-bg;
	border-radius: $switch-border-radius;
	border: $switch-border-width solid $switch-border-color;

	display: inline-block;
	position: relative;
	width: $switch-width * 1.4;
	height: $switch-height;

	margin: 0;
	clear: both;

	@include transition-duration(0.2s);

	position: relative;

	&:hover {
		border-color: darken($switch-border-color, 5%);
	}

	&.true {
		background-color: $switch-active-bg;
		border-color: $switch-active-border-color;
	}

	input {
		margin: 0;
		padding: 0;
		width: $switch-input-width * 1.3;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		cursor: pointer;
		z-index: 2;
		zoom: 1;

		@include opacity(0);
		
		/* initial toggle position */
		&:checked~.switch-button{
			left: 0;
		}
		
		/* final relative toggle position */
		&~:checked~.switch-button{
			left: ($switch-width * 1.4 - $switch-button-size - $switch-border-width);
		}
		
		&:checked{
			z-index: 0;
		}	
	}

	// Switch styles
	&.switch-dark {
		&.true {
			background-color: $color-dark;
			border-color: $color-dark;
		}
	}

	&.switch-positive {
		&.true {
			background-color: $color-positive;
			border-color: $color-positive;
		}
	}

	&.switch-moody {
		&.true {
			background-color: $color-moody;
			border-color: $color-moody;
		}
	}

	&.switch-calm {
		&.true {
			background-color: $color-calm;
			border-color: $color-calm;
		}
	}

	&.switch-stable {
		&.true {
			background-color: $color-stable;
			border-color: $color-stable;
		}
	}

	&.switch-success {
		&.true {
			background-color: $color-success;
			border-color: $color-success;
		}
	}

	&.switch-warning {
		&.true {
			background-color: $color-warning;
			border-color: $color-warning;
		}
	}

	&.switch-danger {
		&.true {
			background-color: $color-danger;
			border-color: $color-danger;
		}
	}
}

/*clear: both;
  margin: 0em 0 0;
  width: @togglewidth * 1.4;
  
  input {
    width: @toggleinputwidth * 1.3;
    
    &~:checked~.switch{
      left: (@togglewidth * 1.4 - @switchsize - @togglebordersize);
    }
  
  }*/

.switch-button {
	background: $switch-button-bg;
	border-radius: $switch-button-border-radius;
	border: $switch-button-border-width solid $switch-button-border-color;      
	display: block;
	float: left;
	height: $switch-button-size;
	width: $switch-button-size;
	top: 0;
	left: -.1em;
	position: relative;
	z-index: 1;

	@include transition-duration(0.2s);
	
	&.true {
		box-shadow: 
			-.2em .2em .5em rgba(0,0,0,.06), 
			.4em .4em 1.5em rgba(0,0,0,.08);
	}
	
	&.false {
		box-shadow:
			.2em .2em .5em rgba(0,0,0,.06),
			-.4em .4em 1.5em rgba(0,0,0,.08);
	}
}


// Alternate
/*.toggle-alternate {
	clear: both;
	margin: 0em 0 0;
	width: @togglewidth * 1.4;
	
	input {
		width: @toggleinputwidth * 1.3;
		
		&~:checked~.switch{
			left: (@togglewidth * 1.4 - @switchsize - @togglebordersize);
		}
	
	}
}

.toggle-alternate label {
	font-weight: 300; 
	font-size: .9em;
	text-transform: uppercase;
	position: absolute;
	top: @togglelabeloffset;
	// transition: .05s all;
}

.toggle-bg label.true {
	left: .75em;
	color: white;
	text-shadow: 0 .1em 0 @toggleactivecolor;
}

.toggle-bg label.false {
	right: .55em;
	color: #aaa;
}*/