//##############################################################
//	General
//##############################################################
table {
	background-color: $table-bg;
}

th {
	text-align: left;
}

//##############################################################
//	Default Table
//##############################################################
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $line-height-size;
	border-collapse: collapse;

	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;
				line-height: $line-height;
				vertical-align: middle;
				border-top: 1px solid $table-border-color;
			}
		}
	}

	// Bottom align for column headings
	> thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid $table-border-color;
	}

	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}

	thead + tbody {
		> tr:first-child {
			td {
				border-top: 0;
			}
		}
	}

	// Account for multiple tbody instances
	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}

	// Nesting
	.table {
		background-color: $body-bg;
	}
}


// Small table
.table-sm {
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding-sm;
			}
		}
	}
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
	border: 1px solid $table-border-color;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				border: 1px solid $table-border-color;
			}
		}
	}
	> thead > tr {
		> th,
		> td {
			border-bottom-width: 2px;
		}
	}
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: $table-bg-stripped;
		}
	}
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
	> tbody > tr:hover {
		> td,
		> th {
			background-color: $table-bg-hover;
		}
	}
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
	position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
	float: none;
	display: table-column;
}
table {
	td,
	th {
		&[class*="col-"] {
			position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
			float: none;
			display: table-cell;
		}
	}
}


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-container {
	@media screen and (max-width: $screen-xsm-max) {
		width: 100%;
		margin-bottom: ($line-height-size * 0.75);
		overflow-y: hidden;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid $table-border-color;
		-webkit-overflow-scrolling: touch;

		// Tighten up spacing
		> .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						white-space: nowrap;
					}
				}
			}
		}

		// Special overrides for the bordered tables
		> .table-bordered {
			border: 0;

			// Nuke the appropriate borders so that the parent can handle them
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th:first-child,
					> td:first-child {
						border-left: 0;
					}
					> th:last-child,
					> td:last-child {
						border-right: 0;
					}
				}
			}

			// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
			// chances are there will be only one `tr` in a `thead` and that would
			// remove the border altogether.
			> tbody,
			> tfoot {
				> tr:last-child {
					> th,
					> td {
						border-bottom: 0;
					}
				}
			}

		}
	}
}
