// Colors
@include make-text-colors();

// Alignments
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-justify {text-align:justify;}

// Weights
.text-weight-100 {font-weight:100;}
.text-weight-200 {font-weight:200;}
.text-weight-300 {font-weight:300;}
.text-weight-400 {font-weight:400;}
.text-weight-500 {font-weight:500;}
.text-weight-600 {font-weight:600;}
.text-weight-700 {font-weight:700;}
.text-weight-800 {font-weight:800;}
.text-weight-900 {font-weight:900;}

// Line Troug
.line-through {
	display: block;
	font-size: .875em;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.line-through:before {
	width: 40px;
	height: 10px;
	background-color: $line-through-bg;
	content: '';
	margin: -5px 0 0 -20px;
	left: 50%;
	position: absolute;
	top: 50%;
	z-index: -1;
}

.line-through:after {
	border-bottom: 1px solid #dfe0e6;
	content: '';
	display: block;
	position: absolute;
	top: 49%;
	width: 100%;
	z-index: -2;
}