.tooltip {
	position: absolute;
	z-index: $zindex-tooltip;
	display: block;
	visibility: visible;
	font-size: $font-size-xsm;
	line-height: 1.4;

	@include opacity(0);
	@include transition(opacity .3s);

	&.in 		{ @include opacity($tooltip-opacity); }
	&.top 		{ margin-top:  -3px; padding: $tooltip-gap-width 0; }
	&.right 	{ margin-left:  3px; padding: 0 $tooltip-gap-width; }
	&.bottom 	{ margin-top:   3px; padding: $tooltip-gap-width 0; }
	&.left 		{ margin-left: -3px; padding: 0 $tooltip-gap-width; }
}

.tooltip-inner {
	max-width: $tooltip-max-width;
	padding: 3px 8px;
	color: $tooltip-color;
	text-align: center;
	text-decoration: none;
	background-color: $tooltip-bg;
	border-radius: $tooltip-border-radius;
}