//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
//	This file defines variables used for configure the whole
//	project.
//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????


//##############################################################
//	General Variables
//##############################################################
$text-color:									$color-dark !default;
$text-align:									justify !default;

$body-bg:										$color-light !default;

//##############################################################
//	Typography
//##############################################################
// Font Families
$font-family-sans-serif:						"Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif !default;
$font-family:									$font-family-sans-serif !default;

// Font Weight
$font-weight:									300 !default;

// Font Sizes
$font-size:										16px !default;
$font-size-lg:									ceil($font-size * 1.25) !default; 	// 20px
$font-size-sm:									ceil($font-size * 0.85) !default; 	// 14px
$font-size-xsm: 								ceil($font-size * 0.75) !default; 	// 12px

// Line Height
$line-height:									2 !default;
$line-height-size:								floor($font-size * $line-height) !default;	// 32px

// Icons Path
$icons-font-path: 								'../assets/fonts/' !default;

$icons-glyph-font-name:							'glyphicons-regular' !default;
$icons-social-font-name:						'glyphicons-social-regular' !default;
$icons-filetypes-font-name:						'glyphicons-filetypes-regular' !default;

//##############################################################
//	Headings
//##############################################################
$heading-font-family:							inherit !default;

$heading-font-weight:							100 !default;

$heading-line-height: 							1.5 !default;

$heading-color: 								inherit !default;

// Header
$headline-line-color: 							#ccc !default;


//##############################################################
//	Texts
//##############################################################
$line-through-bg:								#fff !default;


//##############################################################
//	Links
//##############################################################
$link-color: 									$color-moody !default;
$link-color-hover:								darken($link-color, 15%) !default;


//##############################################################
//	Sections
//##############################################################
$section-gap-size:								40px !default;


//##############################################################
//	Screen Breakpoints
//##############################################################
$screen-xsm: 									480px !default;
$screen-xsm-min: 								$screen-xsm !default;
$screen-phone: 									$screen-xsm-min !default;

$screen-sm: 									768px !default;
$screen-sm-min: 								$screen-sm !default;
$screen-tablet: 								$screen-sm-min !default;

$screen-md: 									992px !default;
$screen-md-min: 								$screen-md !default;
$screen-desktop: 								$screen-md-min !default;
	
$screen-lg: 									1200px !default;
$screen-lg-min: 								$screen-lg !default;
$screen-desktop-lg: 							$screen-lg-min !default;

// Max widths
$screen-xsm-max: 								($screen-sm-min - 1) !default;
$screen-sm-max: 								($screen-md-min - 1) !default;
$screen-md-max: 								($screen-lg-min - 1) !default;


//##############################################################
//	Grids
//##############################################################
$grid-num-cells: 								12 !default;
$grid-gap-horizontal:							30px !default;
$grid-gap-vertical:								20px !default;

// Grid Container
$container-sm: 									(720px + $grid-gap-horizontal) !default;
$container-tabled:								$container-sm !default;

$container-md:									(940px + $grid-gap-horizontal) !default;
$container-desktop:								$container-md !default;

$container-lg:									(1140px + $grid-gap-horizontal) !default;
$container-desktop-lg: 							$container-lg !default;


//##############################################################
//	Components in General
//##############################################################
// Paddings
$padding-vertical:								6px !default;
$padding-horizontal:							12px !default;

$padding-vertical-xsm:							1px !default;
$padding-horizontal-xsm:						5px !default;

$padding-vertical-sm:							5px !default;
$padding-horizontal-sm:							10px !default;

$padding-vertical-lg:							10px !default;
$padding-horizontal-lg:							16px !default;

// Line Height
$line-height-sm:								1.5 !default;
$line-height-lg:								1.33 !default;

// Border Radius
$border-radius:									0px !default;
$border-radius-sm:								0px !default;
$border-radius-lg:								0px !default;

// Active colors
$active-color:									#fff !default;
$active-bg:										$color-positive !default;

// z-index
$zindex-bar-fixed:								1000 !default;
$zindex-dropdown:								1000 !default;
$zindex-tooltip:								1010 !default;
$zindex-modal:									1040 !default;
$zindex-notification-center:					1050 !default;


//##############################################################
//	Buttons
//##############################################################
$button-font-weight:							$font-weight !default;

$button-link-disabled-color:					$color-stable !default;


//##############################################################
//	Boxes
//##############################################################
$box-padding:									10px 20px !default;

$box-border-radius:								2px !default;


//##############################################################
//	Menus
//##############################################################
$menu-link-padding:								10px 15px !default;
$menu-link-hover-bg:							$color-stable !default;

$menu-disabled-link-color:						$color-stable !default;
$menu-disabled-link-hover-color:				$color-stable !default;							


//##############################################################
//	Dropdown
//##############################################################
$dropdown-bg:										#fff !default;
$dropdown-border-color:								$color-stable !default;

// Dropdown caret
$dropdown-caret-width:								4px !default;
$dropdown-caret-width-lg:							5px !default;

$dropdown-caret-color:								#000 !default;

// Dropdown links
$dropdown-link-color:								$color-dark !default;
$dropdown-link-hover-color:							darken($dropdown-link-color, 5%) !default;
$dropdown-link-hover-bg:							#f5f5f5 !default;

$dropdown-link-active-color:						$active-color !default;
$dropdown-link-active-bg:							$active-bg !default;

$dropdown-link-disabled-color:						$color-stable !default;


//##############################################################
//	Bars
//##############################################################
$bar-height: 							50px !default;
$bar-margin-bottom: 					20px !default;
$bar-padding-horizontal:				floor($grid-gap-horizontal / 2) !default;
$bar-padding-vertical:					(($bar-height - $line-height-size) / 2) !default;

$bar-toggle-bg: 						transparent !default;
$bar-toggle-line-bg: 					$color-dark !default;

// Point at which the top bar collapses.
$bar-breakpoint: 						$screen-sm-min !default;
$bar-breakpoint-max: 					($bar-breakpoint - 1) !default;


//##############################################################
//	Modal
//##############################################################
$modal-width-sm:								300px !default;
$modal-width-md:								600px !default;
$modal-width-lg:								900px !default;

$modal-header-padding:							15px !default;
$modal-body-padding:							15px !default;
$modal-footer-padding:							15px !default;

$modal-header-line-height: 						$line-height !default;

$modal-content-bg:								#fff !default;
$modal-content-border-color: 					#aaa !default;

$modal-backdrop-bg: 							#000 !default;
$modal-backdrop-opacity:						.7 !default;

//##############################################################
//	Tables
//##############################################################
$table-cell-padding:							8px !default;
$table-cell-padding-sm:							5px !default;

$table-bg:										transparent !default;
$table-bg-stripped:								#f9f9f9 !default;
$table-bg-hover:								#f5f5f5 !default;
$table-bg-active: 								$table-bg-hover;
$table-border-color:							#ddd !default;


//##############################################################
//	Tooltip
//##############################################################
$tooltip-max-width:								200px !default;

$tooltip-color: 								#fff !default;
$tooltip-bg:									#555 !default;
$tooltip-opacity:								0.9 !default;

$tooltip-border-radius:							2px !default;

$tooltip-gap-width: 							5px !default;


//##############################################################
//	Fields
//##############################################################
$field-bg:		 							#fff !default;
$field-bg-disabled:		 					lighten($color-stable, 7%) !default;

$field-label-color: 						#5c97bf !default;
$field-label-weight: 						400 !default;
$field-label-size: 							$font-size-xsm !default;

$field-color: 								$text-color !default;
$field-color-disabled:						darken($color-stable, 15%);
$field-border-radius:						$border-radius !default;
$field-border-color:						$color-stable !default;
$field-border-color-focus: 					$color-moody !default;
$field-placeholder-color: 					$color-stable !default;

$field-height:								($line-height-size + ($padding-vertical * 2) + 2) !default;
$field-height-sm:							(floor($font-size-sm * $line-height-sm) + ($padding-vertical-sm * 2) + 2) !default;
$field-height-lg: 							(ceil($font-size-lg * $line-height-lg) + ($padding-vertical-lg * 2) + 2) !default;

// Input Addon
$input-group-addon-bg:						$color-stable !default;
$input-group-addon-border-color:			$field-border-color !default;

// Legends
$legend-color:								$color-dark;
$legend-border-color:						#e5e5e5;

//##############################################################
//	Switches
//##############################################################
$switch-height:								2em !default;
$switch-width:								2.4em !default;
$switch-bg:									rgb(255,255,255) !default;

$switch-border-radius:						2em !default;

$switch-active-bg:							rgb(0,220,97) !default;
$switch-active-border-color:				darken($switch-active-bg, 5%) !default;						

$switch-border-width:						0.12em !default;
$switch-border-color:						rgb(230,230,230) !default;

$switch-input-width:						$switch-width * 1.5 !default;

$switch-button-bg:							rgb(255,255,255) !default;
$switch-button-size:						$switch-height - $switch-border-width !default;
$switch-button-border-width:				0.1em !default;
$switch-button-border-color:				darken($switch-bg, 15%) !default;
$switch-button-border-radius:				$switch-border-radius !default;


//##############################################################
//	Notification Center
//##############################################################
$notification-center-top:					($bar-height + 20px) !default;
$notification-center-right:					20px !default;
$notification-center-width:					300px !default;

//##############################################################
//	Progress Bars
//##############################################################
$progress-bg: 								#f5f5f5;

$progress-bar-bg: 							$color-positive;
$progress-bar-color: 						#fff;