//##############################################################
//	Animations
//##############################################################
@mixin animation($animation) {
	-webkit-animation: $animation;
		 -o-animation: $animation;
			animation: $animation;
}

@mixin animation-name($name) {
	-webkit-animation-name: $name;
			animation-name: $name;
}

@mixin animation-duration($duration) {
	-webkit-animation-duration: $duration;
			animation-duration: $duration;
}

@mixin animation-timing-function($timing-function) {
	-webkit-animation-timing-function: $timing-function;
			animation-timing-function: $timing-function;
}

@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
			animation-delay: $delay;
}

@mixin animation-iteration-count($iteration-count) {
	-webkit-animation-iteration-count: $iteration-count;
			animation-iteration-count: $iteration-count;
}

@mixin animation-direction($direction) {
	-webkit-animation-direction: $direction;
			animation-direction: $direction;
}

@mixin animation-fill-mode($fill-mode) {
	-webkit-animation-fill-mode: $fill-mode;
			animation-fill-mode: $fill-mode;
}

//##############################################################
//	Transitions
//##############################################################
@mixin transition($transition) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
		 -o-transition: $transition;
		-ms-transition: $transition;
			transition: $transition;
}

@mixin transition-property($transition-property) {
	-webkit-transition-property: $transition-property;
			transition-property: $transition-property;
}

@mixin transition-delay($transition-delay) {
	-webkit-transition-delay: $transition-delay;
			transition-delay: $transition-delay;
}

@mixin transition-duration($transition-duration) {
	-webkit-transition-duration: $transition-duration;
			transition-duration: $transition-duration;
}

@mixin transition-timing-function($timing-function) {
	-webkit-transition-timing-function: $timing-function;
			transition-timing-function: $timing-function;
}

@mixin transition-transform($transition) {
	-webkit-transition: -webkit-transform $transition;
	   -moz-transition: -moz-transform $transition;
		 -o-transition: -o-transform $transition;
		 	transition: transform $transition;
}

//##############################################################
//	Transforms
//##############################################################
@mixin transform-origin($transform) {
	-webkit-transform-origin: $transform;
		-ms-transform-origin: $transform;
			transform-origin: $transform;
}

@mixin scale($ratio) {
	-webkit-transform: scale($ratio);
		-ms-transform: scale($ratio); // IE9 only
		 -o-transform: scale($ratio);
			transform: scale($ratio);
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
		-ms-transform: rotate($degrees); // IE9+
			transform: rotate($degrees);
}


// Translations
@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
		-ms-transform: translate($x, $y); // IE9+
			transform: translate($x, $y);
}

@mixin translate3d($x, $y, $z) {
 	-webkit-transform: translate3d($x, $y, $z);
			transform: translate3d($x, $y, $z);
}


@mixin backface-visibility($visibility) {
	-webkit-backface-visibility: visible;
		-ms-backface-visibility: visible;
			backface-visibility: visible;
}

