//##############################################################
//	Color
//##############################################################
@mixin make-border-color($name, $color) {
	.border-#{$name} {
		border-color: $color !important;
	}

	.border-top-#{$name} {
		border-top-color: $color !important;
	}

	.border-right-#{$name} {
		border-right-color: $color !important;
	}

	.border-bottom-#{$name} {
		border-bottom-color: $color !important;
	}

	.border-left-#{$name} {
		border-left-color: $color !important;
	}
}

//##############################################################
//	Border Radius
//##############################################################
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}
