//##############################################################
//	Styles
//##############################################################
@mixin button-flat($bg-color, $border-color, $color) {
	color: $color;
	background-color: $bg-color;
	border-color: $border-color;

	&:hover,
	&:focus,
	&:active
	&.active,
	&.open > .dropdown-toggle {
		color: $color;
		background-color: darken($bg-color, 10%);
		border-color: darken($border-color, 10%);

		text-decoration: none;
	}

	&:active
	&.active,
	&.open > .dropdown-toggle {
		background-image: none;
	}

	// Disabled
	&.disabled,
	&[disabled],
	&fieldset[disabled] {
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: $bg-color;
			border-color: $border-color;
		}
	}
}

@mixin button-outlined($color, $active-color) {
	&.button-outlined {
    	color: $color;
    	background: transparent;
    	border-color: $color;

    	&:hover,
    	&:focus,
    	&:active,
		&.active,
		&.open > .dropdown-toggle {
			color: $active-color;
			background-color: $color;
			box-shadow: none;
		}
	}
}


//##############################################################
//	Size
//##############################################################
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}