//##############################################################
//	Individual element color
//##############################################################
@mixin make-text-color($name, $color) {
	.text-#{$name} {
		color: $color !important;

		h1,h2,h3,h4,h5,h6,
		.h1,.h2,.h3,.h4,.h5,.h6 {
			color: $color !important;
		}
	}
}

@mixin make-bg-color($name, $color) {
	.bg-#{$name} {
		background-color: $color !important;
	}
}


//##############################################################
//	General
//##############################################################

// Text Colors
@mixin make-text-colors() {
	// Humor colors
	@include make-text-color(light, $color-light);
	@include make-text-color(dark, $color-dark);
	@include make-text-color(positive, $color-positive);
	@include make-text-color(moody, $color-moody);
	@include make-text-color(calm, $color-calm);
	@include make-text-color(stable, $color-stable);
	@include make-text-color(success, $color-success);
	@include make-text-color(warning, $color-warning);
	@include make-text-color(danger, $color-danger);

	// General colors
	@each $name, $color in $colors {
		@include make-text-color($name, $color);
	}
}

// Background Colors
@mixin make-bg-colors() {
	// Humor colors
	@include make-bg-color(light, $color-light);
	@include make-bg-color(dark, $color-dark);
	@include make-bg-color(positive, $color-positive);
	@include make-bg-color(moody, $color-moody);
	@include make-bg-color(calm, $color-calm);
	@include make-bg-color(stable, $color-stable);
	@include make-bg-color(success, $color-success);
	@include make-bg-color(warning, $color-warning);
	@include make-bg-color(danger, $color-danger);

	// General colors
	@each $name, $color in $colors {
		@include make-bg-color($name, $color);
	}
}

// Border Colors
@mixin make-border-colors() {
	// Humor colors
	@include make-border-color(light, $color-light);
	@include make-border-color(dark, $color-dark);
	@include make-border-color(positive, $color-positive);
	@include make-border-color(moody, $color-moody);
	@include make-border-color(calm, $color-calm);
	@include make-border-color(stable, $color-stable);
	@include make-border-color(success, $color-success);
	@include make-border-color(warning, $color-warning);
	@include make-border-color(danger, $color-danger);

	// General colors
	@each $name, $color in $colors {
		@include make-border-color($name, $color);
	}
}