@mixin field-focus($border-color: $field-border-color-focus) {
	//$border-color-rgba: rgba(red($border-color), green($border-color), blue($border-color), .6);

	&:focus {
		border-color: $border-color;
		outline: 0;
		//@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #{color-rgba});
  }
}