//##############################################################
//	Forms
//##############################################################
@mixin placeholder($color: $field-placeholder-color) {
	&:-moz-placeholder 				{color: $color;}
	&::-moz-placeholder				{color: $color;opacity: 1;}
	&:-ms-input-placeholder			{color: $color;}
	&::-webkit-input-placeholder 	{color: $color;}
}

@mixin field-focus($color: $field-border-color-focus) {
	$color-rgba: rgba(red($color), green($color), blue($color), .6);

	&:focus {
		border-color: $color;
		outline: none;
		@include box-shadow(0 0 8px #{color-rgba});
	}
}

@mixin field-size($field-height, $padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	height: $field-height;
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;

	&select {
		height: $field-height;
		line-height: $field-height;
	}

	&textarea {
		height: auto;
	}
}