// Keep images from scaling beyond the width of their parents.
@mixin image-responsive($display: block) {
	display: $display;
	width: 100% \9; // Force IE10 and below to size SVG images correctly
	max-width: 100%; // Part 1: Set a maximum relative to the parent
	height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}