//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
//	This file defines list mixins.
//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????

// This mixin removes the list bullets from a list.
@mixin list-unstyled() {
	padding-left: 0px;
	list-style: none;
}

// This mixin display a list inline removing the bullets.
@mixin list-inline() {
	@include list-unstyled();
	
	> li {
		display: inline-block;
		padding: inherit 5px;
	}
}