//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????
//	This file defines general mixins for styling and structuring.
//??????????????????????????????????????????????????????????????
//??????????????????????????????????????????????????????????????

//##############################################################
//	Style Utilities
//##############################################################

// This mixin sets the box sizing model.
@mixin box-sizing($model) {
	-webkit-box-sizing: $model;
	-moz-box-sizing: $model;
	box-sizing: $model;
}

// This mixin sets the shadow property.
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: ($opacity * 100);
	filter: alpha(opacity=#{opacity-ie});
}

//##############################################################
//	Float Utilities
//##############################################################
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

//##############################################################
//	Responsive Utilities
//##############################################################
@mixin visible() {
	display: block !important;
	&table  { display: table; }
	&tr     { display: table-row !important; }
	&th,
	&td     { display: table-cell !important; }
}

@mixin invisible() {
	display: none !important;
}